[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirer = "==3.4.0"
hidapi = "==0.14.0.post2"
pyserial = "3.5"
termcolor = "==2.5.0"
regex = "==2024.9.11"
tqdm = "==4.66.5"
xlsxwriter = "==3.2.9"

[dev-packages]

[requires]
python_version = "3.10"
